.red{
    background-color: red;    
}

.orange{
    background-color: orange; 
}

.yellow{
    background-color: yellow;
}

table{
    width: 100%;
}

td{
    width: 33%;
    display: inline-block;
}